.container{
    /* margin:40px 40px; */
    background-color: rgba(19, 158, 91, 0.726);
    border-radius: 4px;
    height: 400px;
    width: 400px;
    display: inline-block;
    text-align: center;
}
.inside{
    /* padding: 15vh; */
    text-align: center;
    margin:23vh 15vh;
    display: flex;
    flex-direction:column;
}
.dot{
    /* border-style: solid; */
    border-width:2px;
    height: 6px;
    /* width: 50px; */
    margin: 5px;
    border-radius:7px ;
    background-color: aliceblue;
}